<a href="https://colab.research.google.com/github/Brahmagithubrit/python/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

In [ ]:
import numpy as np
a = np.array([1,2,3])
a

array([1, 2, 3])

These methods are use to create array

In [ ]:
a[0] = 5
print (a)

b = np.zeros((2,3))
print (b)

c = np.ones ((3,3))
print(c)

d = np.arange (0 , 10, 2)
# arange actually writing all the nubmbers form start to end  whch are divided by  last number
print(d)

e = np.linspace(0, 2, 5)
print (e)

[5 2 3]
[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
[0 2 4 6 8]
[0.  0.5 1.  1.5 2. ]

shape and resize

In [ ]:
a.shape

a = np.array([[1,2,3], [4,5,6]])
a.shape
# to know the how many row and col in array

f = a.reshape (3 , 2 )
print (f) #reshaping the row and cols

g = a.flatten()
print (g) #flattening the array

[[1 2]
 [3 4]
 [5 6]]
[1 2 3 4 5 6]

indexing and slicing

In [ ]:
a = np.array([[1,2,3] , [4,5,6]])
a[0 , 1 ]
a[: , 2 ]
a[ : , :]
a[:  , 0]

array([1, 4])